<div id="<%= dom_id note %>" class="p-2">
  <div class="card " style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title" style="text-align:center"><%= link_to note.title.to_s, note %></h5>
      <p class="card-text"><%= note.description %></p>
    </div>
  <div class="card-footer text-muted"><%= note.updated_at %>
</div>

<%=current_user%>
