<p style="color: green"><%= notice %></p>
<div>
<%= link_to "Back", notes_path, class: "btn btn-warning" %>
<div style="min-height:45em;>
<%= render @note %>
</div>
<div>
 <div class="row">
    <div class="col-2 col-md-1">
    <%= link_to "Edit", edit_note_path(@note), class: "btn btn-primary" %> 
    </div>
    <div class="col-2 col-md-1">
    <%= button_to "Delete", @note, method: :delete, class: "btn btn-danger" %>
    </div>
  </div>
</div>
